/*#world{
    background-color: blue;
}*/

/*.class1{
    color: red;
}
.class2{
    color: green;
}
.class3{
    color: orange;
}*/

/*h2{
    text-transform: capitalize;
    text-align: center;
    font-family: 'Times New Roman';
}*/

/*#first{
    text-size:25px;
}
#second{
    text-size:10px;
}*/

/*div{
    height: 100px;
    width:100px;
    background-color: green;
    border: 2px solid black;
    border-radius: 50%;
}*/

/*
*{
    margin: 0;
    padding: 0;
    color: white;
    
}

#navbar{
   height: 60px;
   background-color: #0f1111;
}

#logo{
    font-size: 25px;
    color: #f08804;

}
button{
    background-color:  #f08804;
}
a{
    margin-right: 180px;
    text-decoration: none;
}


.contentbox{
    height:100px;
    width:100px;
    border: #0f1111 solid 2px;
    display: inline-block;
}

footer{
    background-color: #0f1111;
    height: 100px;
    text-align: center;
}

#contentbox{
    height: 700px;
}*/
/*
div{
    height: 100px;
    width: 100px;
    background-image: url(123.jpg);
    background-size: cover;
    position:fixed;
    right: 0;
}*/

.navbar{
    
    background-color: hotpink;
     display: flex;
     justify-content: space-evenly;
}
     
li{
    list-style: none;
    display: inline;
    
}

a{
    background-color: cornflowerblue;
    text-decoration: none;
    color: black;
    

}
